/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #363434;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center; 
}
/* Hero Section */
.hero {
    background-image: url('img1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 230px 0;
    position: relative; /* Add position relative to the hero container */
}

.hero::before { /* Create a pseudo-element for the overlay */
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place the overlay behind the content */
}

.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero .logo {
    font-size: 4rem;
    font-weight: bold;
    color: #e50914;
    transform: perspective(100px) rotateY(0deg);
}

.hero .buttons {
    display: flex;
    gap: 10px;
}

.hero .language-dropdown {
    position: relative;
}

.hero .language-button {
    background-color: transparent lightslategray;
    color: #fff;
    border: 10px;
    cursor: pointer;
    padding: 20px 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.hero .language-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.hero .language-option {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: left;
}

.hero .language-dropdown:hover .language-options {
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.3rem;
    margin-bottom: 20px;
    white-space: nowrap;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    white-space: nowrap;
}

.hero form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.hero input[type="email"] {
    padding: 15px 50px;
    font-size: 1rem;
    border: none;
    border-radius: 5px 5px;
    background-color: #b3b0b0;
    color: #fff;
}

.hero button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px;
}


/* Content Rows */
.content {
    padding: 20px;
    color: #fff;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 10px;
    }
}
